<ul>
  <li >
          <div class="pic">
            <a href="">
              <img src="/assets/images/logo.png"  style="width:200px;height:127px;"> 
            </a>

          </div>

  </li>     
 
  <li>

</li>
    <li  style="float:right">
      <a href="/publicPosts">
          <div class="login">
              Public Posts
          </div>             
      </a>
  </li>

  <li  style="float:right">
      <a href="/login">
          <div class="login">
              Login
          </div>             
      </a>
  </li>
      <li  style="float:right"><a href="/register"> <div class="login">Register</div></a></li>  
</ul>
<span class="strong" *ngIf="infoMessage.length > 0">{{ infoMessage }}</span>
<span class="strong" *ngIf="errorMessage" >
  {{errorMessage | json}}
</span>
<div class="page">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <h2>Log In</h2>
          <mat-error *ngIf="loginInvalid">
            The username and password were not recognized
          </mat-error>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Username" formControlName="username" required>
            <mat-error>
             Please provide a valid username
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
        </form>
        <a [routerLink]="['/register']">Don't have an account? Register here</a>
      </mat-card-content>
    </mat-card>
  </div>
