ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
     
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 22px 20px;
  text-decoration: wavy;
  font-size: xx-large;
  height: 30px;
  line-height: 90px;
}

div.login:hover {
  background-color: rgb(247, 243, 243);
      height: 100px;
}

.page {
  height: calc(100vh - 100px);
 
}


* {
  box-sizing: border-box;
}

.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search button:hover {
  background: #0b7dda;
}


.search{
  margin-top: 40px;
  margin-left: 180px;

}

td {
  border: 1px solid black;
  border-collapse: collapse;
}





