<div class="navbar">
  <a href="/userprofile">Home</a>
  <a href="/updateProfile">Update your profile</a>
  <div class="dropdown">
    <button class="dropbtn">Posts 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/createPost">Create</a>
      <a href="/viewPosts" >View posts</a>
    </div>
  </div> 
  <div class="dropdown">
      <button class="dropbtn">Follows 
        <i class="fa fa-caret-down"></i>
      </button>
    <div class="dropdown-content">
        <a href="/followPage" >Follows someone</a>
        <a href="/followRequests">View requests</a>
        <a href="/usersIFollow">View all followers</a>
    </div>
  </div>
  <div class="dropdown">
      <button class="dropbtn">Messages 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/sendMessage">Send a message</a>
        <a href="#">Inbox</a>
      </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Jobs 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/jobOffers">Job offers</a>
      <a href="/searchJob">Search for job</a>
    </div>
</div> 
  <a href="/home">Log out</a>
</div>   
<div class="page">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Update your profile</h2>

        <mat-form-field class="full-width-input">
          <input  class="form-control"   matInput [value]="users.email"  placeholder="Email" formControlName="email" >
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input  class="form-control"   matInput [value]="users.username" placeholder="Username" disabled>
          <mat-error>
            Please provide a valid username 
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input  class="form-control"   matInput [value]="users.name" placeholder="First name" formControlName="name" >
          <mat-error>
            First name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input  class="form-control"   matInput value={{users.surname}}  placeholder="Last name" formControlName="surname" >
          <mat-error>
            Last name is required
          </mat-error>
      </mat-form-field>
        <mat-form-field class="full-width-input">
          <input  class="form-control"   matInput value={{users.phoneNumber}}  placeholder="Phone" formControlName="phoneNumber"  >
          <mat-error>
            Please provide a valid number
          </mat-error>
        </mat-form-field>
        <mat-radio-group    formControlName="gender" aria-label="Gender" >  
          <mat-radio-button *ngFor="let o of exampleArr; let i = index" [value]="i" [checked]="i  === users.gender">  {{o.gend}}
       </mat-radio-button>  
        </mat-radio-group> 
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker"  value={{users.dateOfBirth}} formControlName="dateOfBirth" >
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker startView="year"></mat-datepicker>
        </mat-form-field>
        <mat-form-field  appearance="fill">
          <mat-label>Biography</mat-label>
          <textarea  matInput  value={{users.biography}} formControlName="biography"  > </textarea>
        </mat-form-field>
        <mat-form-field  appearance="fill">
          <mat-label>Work experience</mat-label>
          <textarea  matInput value= {{users.workExperience}} formControlName="workExperience"  ></textarea>
        </mat-form-field>
        <mat-form-field  appearance="fill">
          <mat-label>Education</mat-label>
          <textarea  matInput value={{users.education}} formControlName="education" ></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Skill</mat-label>
          <textarea    matInput value={{users.skill}} formControlName="skill"  ></textarea>
        </mat-form-field>
        <mat-form-field  appearance="fill">
          <mat-label>Interest</mat-label>
          <textarea  matInput value={{users.interest}} formControlName="interest" ></textarea>
        </mat-form-field>
        <mat-radio-group    formControlName="privacy" aria-label="privacy" >  
          <mat-radio-button *ngFor="let o of privacies; let i = index" [value]="o.value" [checked]="o.value  === users.privacy">   {{o.name}}
       </mat-radio-button>  
        </mat-radio-group> 
        <br>
        <br>
        <button mat-raised-button color="primary">Update</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
