
<body>
  <ul>
    <li >
            <div class="pic">
              <a href="">
                <img src="/assets/images/logo.png"  style="width:200px;height:127px;"> 
              </a>  
            </div>
  
    </li>     
   
    <li>
  
  </li>
      <li  style="float:right">
        <a href="/publicPosts">
            <div class="login">
                Public Posts
            </div>             
        </a>
    </li>
  
    <li  style="float:right">
        <a href="/login">
            <div class="login">
                Login
            </div>             
        </a>
    </li>
        <li  style="float:right"><a href="/register"> <div class="login">Register</div></a></li>  
  </ul>
  <br>
    <div class="page" >
        <h2>Posts:</h2>
        <h3>Public users:</h3>
        <mat-table mat-table [dataSource]="data">
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> User </th>
            <td mat-cell *matCellDef="let post"> {{userFunc(post?.userId)?.name}}:</td>
          </ng-container>
             <ng-container matColumnDef="Content">
                <th mat-header-cell *matHeaderCellDef> Post </th>
                <td mat-cell *matCellDef="let post"> {{post.content}}</td>
              </ng-container>
              <ng-container matColumnDef="Image">
                <th mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let post"><img src="{{'data:image/jpg;base64,' + post.image}}" height="50" width="50">  </td>
              </ng-container>
            
              <ng-container matColumnDef="Link">
                <th mat-header-cell *matHeaderCellDef> Link </th>
                <td mat-cell *matCellDef="let post"><a href="{{post.link}}">{{post.link}}</a>
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
      </div>
      </body>