
<body>
  <div class="navbar">
    <a href="/userprofile">Home</a>
    <a href="/updateProfile">Update your profile</a>
    <div class="dropdown">
      <button class="dropbtn">Posts 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/createPost">Create</a>
        <a href="/viewPosts" >View posts</a>
      </div>
    </div> 
    <div class="dropdown">
        <button class="dropbtn">Follows 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/followPage" >Follows someone</a>
          <a href="/followRequests">View requests</a>
          <a href="/usersIFollow">View all followers</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Messages 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/sendMessage">Send a message</a>
          <a href="#">Inbox</a>
        </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Jobs 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/jobOffers">Job offers</a>
        <a href="/searchJob">Search for job</a>
      </div>
  </div> 
    <a href="/home">Log out</a>
  </div>
  <div class="page">
    
    <mat-table mat-table [dataSource]="data">
             <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let user">{{user.name}}</td>
              </ng-container>
              <ng-container matColumnDef="Surname">
                <th mat-header-cell *matHeaderCellDef> Surname </th>
                <td mat-cell *matCellDef="let user">{{user.surname}} </td>
              </ng-container>
              <ng-container matColumnDef="Button">
                <th mat-header-cell *matHeaderCellDef> Button </th>

                <td mat-cell *matCellDef="let user"><button mat-raised-button color="primary" (click)="followUser(user.id)">Follow</button>
                </td>
              </ng-container>
            
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
    </div>
</body>